
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Admin: Index</h2>

@section SideBarLeft{
    <img src="~/Photos/416-1.png" class="img-circle" style="width: 100%;" />
}

@section Styles{
    <style>
        h2 {
            color: #ff0000;
        }
    </style>
}
