@model System.String

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Thông báo lỗi</h1>
<h2 class="text-danger">@Html.Raw(Model)</h2>
<br />
<br />
<div>
    @Html.ActionLink("Back to List", "Index", "Home")
</div>
